.playkit-pre-playback-play-button {
  background-color: yellow;
}

.playkit-player .playkit-top-bar {
  background: linear-gradient(0deg, rgba(131, 189, 115, 0.5) 0%, rgb(127, 171, 50) 100%);
 }
 
 .playkit-player .playkit-bottom-bar {
  background: linear-gradient(180deg, rgba(107, 189, 93, 0.5) 0%, rgb(106, 185, 101) 100%);
 }